@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: $dark-color;
    background: $light-color;
    overflow-x: hidden;
}

.container {
    width: $container-lg;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

// .btnapinit


/////////////////MEDIA QUERY (MEDIUM DEVICES)////////////////////



@media screen and (max-width: 1024px) {
    .container {
        width: $container-md;
    }
}

/////////////////////MEDIA QUERY (MEDIUM DEVICES)////////////////////

@media screen and (max-width: 600px) {


}

