












$dark-color: hsl(252, 30%, 100%);
$light-color: hsl(252, 30%, 95%);
$gray-color: hsl(252, 15%, 65%);
$primary-color: hsl(252, 75%, 60%);
$secondary-color: hsl(252, 100%, 90%);
$success-color: hsl(120, 95%, 65%);
$danger-color: hsl(0, 95%, 65%);
$dark-color: hsl(252, 30%, 17%);
$black-color: hsl(252, 30%, 10%);
$container-lg: 80%;
$container-md: 90%;

$border-radius: 2rem;
$card-border-radius: 1rem;
$btn-padding: 0.6rem 2rem;
$search-padding: 0.6rem 1rem;
$card-padding: 1rem;
// $normal-padding: 3rem;
